.App {
  text-align: center;

}
body{
  background-color: #eae5cd40;
}
.header{
  display: flex;
  width: 70%;
  margin: auto;
  align-items: center;
  background: #ab5396;
  box-shadow: 10px 5px 5px #b18e8e;
  border-radius: 18%;
  padding: 1rem;
}
.header a {
  flex: 1 1;
  text-decoration: none;
  color: #6cc26c;
  font-weight: bold;
  font-size: 1.4rem;
}
.header a:hover{
  color: #9dc738;
}
input{
  margin-bottom: 0.6rem;
  display: flex;
}
form{
  display: flex;
  flex-direction: column;
  border: solid white;
  border-radius: 20%;
  padding: 3.5rem 11rem;
  background: white;
  color: #9dc738;
  font-weight: bold;
  box-shadow: 10px 5px 5px #aeaeae;
  border: solid 1px #c6bebe;
}
form p:empty{
display: none;
}
form p {
  background: #ffe0e3;
padding: 0.7rem;
border-left: solid 0.6rem #ff4858;
color: #ff5a69;
font-weight: bold;
}
.container {
  width: 30%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
table{
  margin: auto;
  width: 50%;
}
th
.tablecontainer{
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header img {
  width: 6rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
